{% extends 'base.html' %}

{% load static %}

{% block content %}




<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">About Us</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">We believe in the power of teamwork and collaboration. Our diverse experts work tirelessly to deliver innovative solutions tailored to our clients' needs.</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

<div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <article>
          <div class="card border-1">
            <div class="card-body border bg-white p-4">
              <div class="entry-header mb-3">
                <h2 class="card-title entry-title h4 mb-0">
                Our Vision
                </h2>
              </div>
              <p class="card-text entry-summary text-secondary mb-3">From sleek modernism to timeless elegance, we infuse every creation with a touch of our artistic ingenuity. As a design agency, great design can shape perceptions, inspire action, and leave an indelible mark on the world.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-lg-6">
        <article>
          <div class="card border-1">
            <div class="card-body border bg-white p-4">
              <div class="entry-header mb-3">
                <h2 class="card-title entry-title h4 mb-0">
                 Our Approach
                </h2>
              </div>
              <p class="card-text entry-summary text-secondary mb-3">Welcome to our design agency, where creativity knows no bounds and innovation takes center stage. We are a team of dedicated designers, strategists, and visionaries with a passion for transforming ideas into captivating visuals.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
     <br>
<div>
         <h2 class="mb-4 display-5 text-center">Meet Our Team</h2>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        <div class="container my-4">
        <div class="row">

<!-- card -->
  <div class="col-md-4 mb-4">
<div class="card " style="width: 18rem;">
  <img src="{% static 'images/shiva.jpg' %}" class="card-img-top" alt="image">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    
  </div>
</div>
</div>
<!-- card end -->



<div class="col-md-4 mb-4">
<div class="card " style="width: 18rem;">
  <img src="{% static 'images/shiva.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    
  </div>
</div>
</div>



<div class="col-md-4 mb-4">
<div class="card " style="width: 18rem;">
  <img src="{% static 'images/shiva.jpg' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
  </div>
</div>
</div>
</div>
</div>

 </div>
    
      
</section>

{% endblock %}
